.header {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 6rem;
    background-color: #5865f2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #000000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

input {
    display: none;
}

label, ul {
    border: 1px solid #cecfd5;
    border-radius: 6px;
}

label {
    color: #0087cc;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
    transition: all .15s ease;
}

label:hover {
    color: #ff7b29;
}

input:checked + label {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #9799a7;
}

nav {
    max-height: 0;
    overflow: hidden;
    transition: all .15s ease;
 }

input:checked ~ nav {
    max-height: 500px;
}

ul {
    list-style: none;
    margin: 8px 0 0 0;
    width: 100px;
}

li {
    border-bottom: 1px solid #cecfd5;
}

li:last-child {
    border-bottom: 0;
}

a {
    color: #0087cc;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

a:hover {
    color: #ff7b29;
}

.center {
    display: flex;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}