.inbox{
    padding: 80px 0;
}

.card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

#head1{
    font-family: Rubik;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 500;
}

#head2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.img1 img{
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}


.img2 img{
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top:-80px;

}

.card:hover .img2 img{
    border-color: cyan;
    transition: .7s;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}

.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p{
    font-size: 16px;
    padding:0 35px;
}

.card-text{
  text-align: left;
}

#menutop {
        text-align: left;
    }
