body{
	background-color: #fcfcfc;	
}
h1{
	font-family:  "Trebuchet MS";
}
div.maincolor{ 
	color: #5865f2;
}
div.secondarycolor{
	color: #FF7900;
}
div.internaltextcolor1{ 
	color: #FFFFFF;
}
div.internaltextcolor2{
	color: #000000;
}
div.contentfont{
	font-family: Cambria;
}

.popup{
	width: 400px;
	background: rgb(232, 240, 118);
	border-radius: 6px;
	top: 0;
	left: 50%;
	position: absolute;
	margin-top: 55%;
	/* opacity: 1; */
	transform: translate(-50%,-50%);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}
.open-popup{
	visibility: visible;
	top: 100%;
	transform: translate(-50%,-50%) scale(1);
}
.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0px;
	background: rgb(133, 75, 75);
	color: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
    cursor: pointer;
}

#btn1{
	border-color: transparent;
	color: #007bff;
	font-weight: 500;
	background-color:transparent;
}

#anc1{
	color: #007bff
}

#anc1:hover{
	text-decoration: underline;
	cursor: pointer;
}
