body{
	background-color: #fcfcfc;	
}
h1{
	font-family:  "Trebuchet MS";
}
div.maincolor{ 
	color: #5865f2;
}
div.secondarycolor{
	color: #FF7900;
}
div.internaltextcolor1{ 
	color: #FFFFFF;
}
div.internaltextcolor2{
	color: #000000;
}
div.contentfont{
	font-family: Cambria;
}
.popup{
	width: 800px;
	background-color: rgb(129, 165, 182);
	border-radius: 6px;
	position: absolute;
	margin-top: 900px;
	opacity: 1;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}
.open-popup{
	visibility: visible;
	top: 100%;
	transform: translate(-50%,-50%) scale(1);
}
.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0px;
	background: rgb(133, 75, 75);
	color: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
    cursor: pointer;
}