body {
	background-color: #fcfcfc;
}
h1 {
	font-family: "Trebuchet MS";
}
div.maincolor {
	color: #5865f2;
}
div.secondarycolor {
	color: #ff7900;
}
div.internaltextcolor1 {
	color: #ffffff;
}
div.internaltextcolor2 {
	color: #000000;
}
div.contentfont {
	font-family: Cambria;
}
.footer-nav a{
	text-decoration: none;
	font-weight: bold;
	padding: 20px;
}
.footer-nav a:hover{
	color: rgb(221, 15, 56);
}